#results > div:not(.pulse-loader) {
    margin: 5px 0;
    height: 300px;
}

#results .img-responsive {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#results .img-desc {
    position: absolute;
    bottom: 0;
    padding: 0px 15px;
    color: #fff;
    left: 0;
    width: 100%;
    display: none;
}

#results .img-desc .img-title {
    opacity: 0.6;
    background-color: black;
    padding: 10px;
}

.results-container #results-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.slider-container, .slider-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 200px 0px;
}

.slider-overlay {
    background: #000;
    opacity: 0.9;
}

.slider-container .slider-img {
    padding: 0px 30px;
}

.slider-container .slider-img-controls {
    margin-top: 20px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.slider-container .close {
    position: absolute;
    top: 20px;
    left: 98%;
    background-color: white;
}

.slider-container .img-responsive {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
}