<div class="col-sm-4 col-md-3 col-xs-6">
    <img src="<%=data.src%>" class="img-responsive" title="<%-data.title%>" data-index="<%-data.index%>"/>
    <div class="img-desc">
        <div class="img-title"><%-data.title%></div>
    </div>
</div>