<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="search" class="input-lg col-md-6 col-md-offset-3 col-xs-12"
                   placeholder="Search for images..."/>
        </div>
    </div>
</div>
<div class="results-container">
    <div class="row" id="results-filter" style="display: none;">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group col-xs-6 col-sm-4">
                    <label for="sort">Sort</label>
                    <select id="sort" name="sort">
                        <option value="relevance">Relevance</option>
                        <option value="date-posted-asc">Date Posted</option>
                        <option value="date-taken-asc">Date Taken</option>
                        <option value="interestingness-asc">Interestingness</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 col-sm-4">
                    <label for="media">Media</label>
                    <select id="media" name="media">
                        <option value="all">All</option>
                        <option value="photos">Photos</option>
                        <option value="videos">Videos</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="results">
    </div>
    <div class="row" id="results-nav" style="display:none;">
        <div class=" col-xs-3 ">
            <button class="btn btn-default pull-left" id="previous"><i class="glyphicon glyphicon-chevron-left"></i>
                Previous
            </button>
        </div>
        <div class="col-xs-6">
            <span>Page <span class="current-page"></span> of <span class="total-pages"></span> </span>
        </div>
        <div class=" col-xs-3">
            <button class="btn btn-default pull-right" id="next">Next <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
    </div>
</div>