<div class="close">
    X
</div>
<div class="row slider-img-row">
    <div class="slider-img col-xs-12">
        <img src="<%=data.src%>" class="img-responsive" title="<%-data.title%>"/>
    </div>
</div>
<div class="row slider-img-controls">
    <div class="col-xs-2">
        <button id="previous" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Previous</button>
    </div>
    <div class="col-xs-8">
        <span><%-data.title%></span>
    </div>
    <div class="col-xs-2">
        <button id="next" class="btn btn-default">Next <i class="glyphicon glyphicon-arrow-right"></i></button>
    </div>
</div>